@model UCP1_PAW_119_A.Models.Outfit

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Outfit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaOutfit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaOutfit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Perusahaan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Perusahaan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Harga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Harga)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdOutfit" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
